.bcb-icon-list__content {
	flex-grow: 1;
}

.bcb-icon-list__icon-wrap {
	flex-shrink: 0;
	gap: 1rem;
}
.bcb-icon-list__icon {
	display: flex;
	margin: 1rem;
}

.bcb-icon-list__content-title {
	flex-grow: 0;
	margin: 1rem;
	margin: auto;
}

.bcb-icon-list__heading {
	margin: 0;
}

.bcb-icon-list__separator {
	display: inline-block;
}

.bcb-icon-list__content-wrap {
	flex-grow: 1;
}

.bcb-icon-list__image {
	flex-shrink: 0;
	display: inline-block;
}

.bcb-icon-list {
    &__wrap {
        width: 100%;
    }

    &__container {
        width: 100%;
        display: flex;
        gap: 1rem; // distamce between icon and content
    }

    // Styles for the icon list
    .bcb-icon-list__icon-wrap {
        display: flex;
        align-items: center;
    }

    .bcb-icon-list__content {
        flex: 1;
    }

    .bcb-icon-list__content-title-wrap {
        display: flex;
        align-items: center;
    }
}
