.wcb-image__wrap {
	position: relative;
	flex-direction: column;
	&.woostify-container{
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
	&.alignfull,
	&.alignwide {
		img {
			height: auto;
			width: 100%;
		}
	}

	&.alignleft{
		align-items: flex-start;
	}
	&.alignright{
		align-items: flex-end;
	}
	&.aligncenter{
		align-items: center;
	}

	.wcb-image__wrap-figure{
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 100%;
		height: auto;
		margin: 0;
	}

	.wp-element-caption {
		width: 100%;
		position: relative;
		z-index: 1;
	}

	&--overlay {
		.wp-element-caption {
			display: none;
		}
	}
}

.wcb-image__overlay-wrap {
	@apply absolute inset-0 flex overflow-hidden;
}

.wcb-image__overlay-bg {
	@apply flex-1 bg-white/50 flex flex-col;
}
